@import "reset.css";
header, .panel, .timestamp {
  font-family: arial, sans-serif;
}
@import "fonts.css";
 h3 {
   font-family: georgia, serif;
 }
  * {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > header {
   display: flex;

   height: 45px;

   letter-spacing: 1px;
   text-transform: uppercase;

   color: white;
   background-color: rgb(38, 38, 38);

   font-size: 13px;

   align-items: center;
   justify-content: space-between;

 }

header, .panel, .timestamp {
  font-family: "Proxima Nova", sans-serif;
}

h3 {
  font-family: "PF Regal", sans-serif;
}

.logo {
  width: 100px;
  height: 21px;
  margin-top: -6px;
}

body > header ul {
  display: flex;
}

body > header li {
  padding-right: 15px;

  font-weight: 600;
}

header ul {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.panel {
  position: relative;

  height: 45px;
  padding: 15px;

  border-bottom: 1px solid #ccc;
  background-color: white;

  font-weight: bold;

}

.panel button {
  position: absolute;
  right: 0;

}

section {
  width: 90vw;
  margin: 0 auto;

  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  background-color: #fff:
}

.container {
  display: flex;

  padding: 8px 0 21px;
}

.is-important {
  display: flex;

  width: 50%;
  height: 100%;

  flex-flow: column;
}

.container-right {
  display: flex;

  width: 50%;

  flex-flow: row wrap;
}

.container-right .card {
  display: flex;

  width: 50%;
  height: 100%;

  flex-flow: column nowrap;

}

.top-stories {
  height: 350px;
  padding: 16px 18px;
}

.container-right .card h3 {
  flex: 1;
}

.timestamp {
  font-size: 12px;

}

.top-stories__header {
padding: 16px 18px 0;

  text-transform: uppercase;

  color: grey;

  font-size: 14px;
  font-weight: 600;
}

.is-important h3 {
    font-size: 34px;
}
